@model List<BookStore.Model.Tags.DTO.GetTagDto>

<h2>Tags List</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tag Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.TagName</td>
                <td>
                    <a asp-controller="Tag" asp-action="UpdateTag" asp-route-id="@tag.Id" class="btn btn-warning">Edit</a>

                    <form asp-controller="Tag" asp-action="DeleteTag" asp-route-id="@tag.Id" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>